.container-page{
    .container{
        background-blend-mode: lighten;
        // padding-top: 5rem;
    }
    aside, main{
        height: 80%!important;
    }
    aside{
        width: 40%;
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        .camera__image{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 13px solid white;
            background: black;
            &-circle{
                width: 230px; height: 230px;
                background: red;
                border-radius: 50%;
                display: block;
            }
            height: 380px;
            width:  380px;
        }
    }
    main{
        height: 100%;
        width: 60%;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        .header{
            text-align: center;
            // border: 1px solid $c-1;
            
            padding: 100px 0;
            h1,h3, span{
                font-family: 'TEKO', serif;
                font-weight: bold;
            }
            h3{
                font-size: 2.5rem;
                // line-height: 90px;
                margin-bottom: 50px;
            }
            h1{
                // line-height: 3rem!important;
                font-size: 3rem;
                margin-bottom: -15px;
            }
            span{
                font-size: 5.15rem;
            }
        }
    }

}